$enable-important-utilities: false;

$primary: #f28b50;
$secondary: #7e3c90;
$success: #50f270;
$info: #59bfd9;
$warning: #D96459;
$danger: #A64962;
$wc-gray-list: null;
$light: null;
$dark: null;
$white: null;
$black: null;
// $body-color: null;
// $text-muted: null;

@if $wc-dark-mode {
    $wc-gray-list: (15% 25% 35% 45% 55% 65% 75% 85% 95%);
    $white: #0c0a10;
    $black: #fff;
}

@else {
    $wc-gray-list: (95% 85% 75% 65% 55% 45% 35% 25% 15%);
    $white: #fff;
    $black: #0c0a10;
}

$gray-100: hsl(265, 25%, nth($wc-gray-list, 1));
$gray-200: hsl(265, 25%, nth($wc-gray-list, 2));
$gray-300: hsl(265, 25%, nth($wc-gray-list, 3));
$gray-400: hsl(265, 25%, nth($wc-gray-list, 4));
$gray-500: hsl(265, 25%, nth($wc-gray-list, 5));
$gray-600: hsl(265, 25%, nth($wc-gray-list, 6));
$gray-700: hsl(265, 25%, nth($wc-gray-list, 7));
$gray-800: hsl(265, 25%, nth($wc-gray-list, 8));
$gray-900: hsl(265, 25%, nth($wc-gray-list, 9));

$light: $gray-100;
$dark: $black;

//---

$utilities:(
    "justify-content": (
      responsive: true,
      property: justify-content,
      class:"fcol",
      values: (
        oll: flex-start,
        llo: flex-end,
        lol: center,
        lsl: space-between,
        sls: space-around,
        sslss: space-evenly,
      )
    ),

    "align-items": (
      responsive: true,
      property: align-items,
      class:"frow",
      values: (
        oll: flex-start,
        llo: flex-end,
        lol: center,
        line: baseline,
        ooo: stretch,
      )
    ),
    
);

@import "~bootstrap/scss/bootstrap";


//---

html,
body {
    height: 100%;
}